<?xml version="1.0"?>
<phpunit bootstrap="./tests/autoload.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="Neo4j Alexa Skills Test suite">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <groups>
        <exclude>
            <group>perf-test</group>
        </exclude>
    </groups>
    <filter>
        <blacklist>
            <directory>tests</directory>
            <directory>vendor</directory>
            <directory>bin</directory>
        </blacklist>
    </filter>
</phpunit>
