
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <title>Neo4j Alexa Skills</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/style.css"/>

</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="/img/neo4j_logo.png"/> <img src="/img/alexa_logo.png"/></a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        {#<ul class="navbar-nav mr-auto">#}
            {#<li class="nav-item active">#}
                {#<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link" href="#">Link</a>#}
            {#</li>#}
            {#<li class="nav-item">#}
                {#<a class="nav-link disabled" href="#">Disabled</a>#}
            {#</li>#}
            {#<li class="nav-item dropdown">#}
                {#<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>#}
                {#<div class="dropdown-menu" aria-labelledby="dropdown01">#}
                    {#<a class="dropdown-item" href="#">Action</a>#}
                    {#<a class="dropdown-item" href="#">Another action</a>#}
                    {#<a class="dropdown-item" href="#">Something else here</a>#}
                {#</div>#}
            {#</li>#}
        {#</ul>#}
    </div>
</nav>

<div class="container" id="app">

    <div class="feed">

        <h3>Alexa-Neo4j Interactions Feed</h3>

        <div v-for="card in cards" class="card">
            <div class="card-block">
                <h4 class="card-title">Neo4j Alexa Skill</h4>
                <h6 class="card-subtitle mb-2 text-muted">${card.intent.name}</h6>
                <p class="card-text">Some description goes here</p>
                <a href="#" class="card-link">${card.id}</a>
                {#<a href="#" class="card-link">Another link</a>#}
            </div>
        </div>
    </div>

</div><!-- /.container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/1.3.1/vue-resource.min.js"></script>
<script src="/scripts/app.js"></script>
</body>
</html>
